body{
    background-color: #efefef;
}
.container-fluid{
    background-color: white;
    margin: 0px 30px 0 30px;
}
.btn-fabu{
    float: right;
    margin-bottom: 12px;
}
.list-group{
    margin-top: 15px;
}
a{
    cursor: pointer;
    color: #155faa;
    font-size: 14px;
}
span {
    color: #999;
}
.answer_btn {
    float: right;
    margin-right: 15px;
}
