body{
    background-color: #efefef;
}
.container-fluid{
    background-color: white;
    margin: 0px 30px 0 30px;
}
.btn-fabu{
    float: right;
    margin-bottom: 12px;
}
.list-group{
    margin-top: 15px;
}
