<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>错误信息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/mycss.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
    </script>
</head>
<body>
<div class="container-fluid">
    <div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3>出错了</h3>
            <span th:text="${message}"></span>
            <a href="/" class="btn btn-default btn-fabu">返回主页</a>
        </div>

    </div>
</div>
</body>
</html>